<!--app/templates/order.html-->
<meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>

<div class="container mt-3">
  <form method="POST" novalidate> 
    {%csrf_token%}
    <h4>Đặt mua hàng trực tuyến</h4>
    <table class="table">
      <tbody>
        <tr>
          <td colspan="2"><h5>Thông tin sản phẩm</h5></td>
        </tr>
        <tr>
          <th>Tên sản phẩm:</th>
          <td>{{product.name}}</td>
        </tr>
        <tr>
          <th>Đơn giá:</th>
          <td>{{product.price}} triệu</td>
        </tr>
        <tr>
          <th>Số lượng:</th>
          <td>
            <div style="width:50px; text-align: center;">
              {{form.qty}}
            </div> 
            {{form.qty.errors}}</td>
        </tr>
        <tr>
          <th>Tổng tiền:</th>
          <td><span id='total'>{{product.price}}</span> triệu</td>
        </tr>
        <tr>
          <td colspan="2"><h5>Thông tin người mua hàng</h5></td>
        </tr>
        <tr>
          <th>Họ và tên:</th>
          <td>{{form.customer_name}} {{form.customer_name.errors}}</td>
        </tr>
        <tr>
          <th>Số điện thoại:</th>
          <td>{{form.customer_phone}} {{form.customer_phone.errors}}</td>
        </tr>
        <tr>
          <th>Địa chỉ:</th>
          <td>{{form.customer_address}} {{form.customer_address.errors}}</td>
        </tr>
      </tbody>
    </table>
    <button type="submit" class="btn btn-primary">Đặt mua</button>
  </form>
</div>

<script>
  $(document).ready(function(){
    $('.table input').addClass('form-control');

    $('#id_qty').change(function(){
      var total = $(this).val() * '{{product.price}}';
      $('#total').html(total);
    });
  });
</script>